html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

html {
  overflow-x:hidden
}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;
font-weight:400;
margin:10px 0}
hr{border:0;
border-top:1px solid #eee;
margin:20px 0}

.teal {
  color: #fff!important;
  background-color: #009688!important
}

.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
}

.git-link {
  font-size: 18pt;
  margin-left: auto;
  margin-right: 20px;
}

.overlay {
    z-index: 1;
    pointer-events: none;
    text-align: center;
}

.map {
  z-index: 0;
}

.map, .overlay {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

.sidebar{
  height:100%;
  width:200px;
  background-color:#fff;
  position:fixed!important;
  z-index:2;
  overflow:auto
}

.search-button {
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  pointer-events: all;
  margin: auto;
  margin-top: 5px;
  
  display: flex;
  align-items: center;
  padding-block: 2px;
  border: none;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);
  border-radius: 14px;
}

.fa-search {
  margin-right: 5px;
}

.search-button:hover {
  background-color: #f4f4f4;
}

.sidebar-open {
  width: 30% !important;
  display: block;
}

.sidebar-open-small {
  width: 50% !important;
  display: block;
}

.sidebar-closed {
  display: none;
}

.animate-left {
  position: relative;
  animation: animateleft 0.4s
} @keyframes animateleft{
  from {
    left: -300px;
    opacity: 0
  } to {
    left: 0;
    opacity: 1
  }
}


.bar-item {
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0
}

.main-content{
  width: 100%;
  height: 100%;
  display: inline-block;
}

.gig-label {
  width: 100px;
  float: left;
}

.multi-line-content {
  display: block;
  overflow: hidden;
}

.leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:12px;
  line-height:16px;
}
.leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
}
.leaflet-popup-content {
  margin: 4px 17px;
}
.leaflet-popup-tip {
  background: #2c3e50;
}
.leaflet-popup-close-button {
  display: none;
}

.button{border:none;
display:inline-block;
padding:8px 16px;
vertical-align:middle;
overflow:hidden;
text-decoration:none;
color:inherit;
background-color:inherit;
text-align:center;
cursor:pointer;
white-space:nowrap}

button,input,select,textarea,optgroup{
  font:inherit;
  margin:0
}

.button:hover{
  color:#000!important;
  background-color:#ccc!important
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.xlarge {
  font-size: 24px !important;
}
.large{
  font-size:18px!important
}

.filter-label {
  display: inline-block !important;
}

.close-button {
  display: inline-block !important;
  float : right;
  font-size: 18px;
  width: 25% !important;
  background-color: #fff;
  color: #000;
}

.apply-btn-parent {
  overflow: hidden;
}

.apply-button {
  float: right;
  width: 50%;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

a {
  color: inherit;
}

.tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.amber,.hover-amber:hover{color:#000!important;
background-color:#ffc107!important}
.aqua,.hover-aqua:hover{color:#000!important;
background-color:#00ffff!important}
.blue,.hover-blue:hover{color:#fff!important;
background-color:#2196F3!important}
.light-blue,.hover-light-blue:hover{color:#000!important;
background-color:#87CEEB!important}
.brown,.hover-brown:hover{color:#fff!important;
background-color:#795548!important}
.cyan,.hover-cyan:hover{color:#000!important;
background-color:#00bcd4!important}
.blue-grey,.hover-blue-grey:hover,.blue-gray,.hover-blue-gray:hover{color:#fff!important;
background-color:#607d8b!important}
.green,.hover-green:hover{color:#fff!important;
background-color:#4CAF50!important}
.light-green,.hover-light-green:hover{color:#000!important;
background-color:#8bc34a!important}
.indigo,.hover-indigo:hover{color:#fff!important;
background-color:#3f51b5!important}
.khaki,.hover-khaki:hover{color:#000!important;
background-color:#f0e68c!important}
.lime,.hover-lime:hover{color:#000!important;
background-color:#cddc39!important}
.orange,.hover-orange:hover{color:#000!important;
background-color:#ff9800!important}
.deep-orange,.hover-deep-orange:hover{color:#fff!important;
background-color:#ff5722!important}
.pink,.hover-pink:hover{color:#fff!important;
background-color:#e91e63!important}
.purple,.hover-purple:hover{color:#fff!important;
background-color:#9c27b0!important}
.deep-purple,.hover-deep-purple:hover{color:#fff!important;
background-color:#673ab7!important}
.red,.hover-red:hover{color:#fff!important;
background-color:#f44336!important}
.sand,.hover-sand:hover{color:#000!important;
background-color:#fdf5e6!important}
.teal,.hover-teal:hover{color:#fff!important;
background-color:#009688!important}
.yellow,.hover-yellow:hover{color:#000!important;
background-color:#ffeb3b!important}
.white,.hover-white:hover{color:#000!important;
background-color:#fff!important}
.black,.hover-black:hover{color:#fff!important;
background-color:#000!important}
.grey,.hover-grey:hover,.gray,.hover-gray:hover{color:#000!important;
background-color:#9e9e9e!important}
.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover{color:#000!important;
background-color:#f1f1f1!important}
.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{color:#fff!important;
background-color:#616161!important}
.pale-red,.hover-pale-red:hover{color:#000!important;
background-color:#ffdddd!important}
.pale-green,.hover-pale-green:hover{color:#000!important;
background-color:#ddffdd!important}
.pale-yellow,.hover-pale-yellow:hover{color:#000!important;
background-color:#ffffcc!important}
.pale-blue,.hover-pale-blue:hover{color:#000!important;
background-color:#ddffff!important}
